server:
  port: 10010
spring:
  application:
    name: leyou-gateway
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:${server.port}/eureka/
    registry-fetch-interval-seconds: 10 #拉取服务的时间
zuul:
  prefix: /api


