server:
  port: 10010
spring:
  application:
    name: leyou-gateway
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:10086/eureka/
    registry-fetch-interval-seconds: 10 #拉取服务的时间
zuul:
  prefix: /api
  routes:
    item-service: /item/** #添加商品微服务的路由
    search-service: /search/** #路由到搜索微服务
    user-service: /user/** #用户微服务
  host:
    connect-timeout-millis: 15000
    socket-timeout-millis: 60000
ribbon:        #设置ribbon的超时时间小于zuul的超时时间
  ReadTimeout: 10000
  ConnectTimeout: 10000


